<div class="container">
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" name="test" disabled <%= "checked" if task.completed %>>
      <%= link_to task.title, task_path(task) %>
       -
      <%= link_to raw("<i class='fas fa-trash-alt'></i>"),
      task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
  </ul>
  <%= link_to '+ add a new task', new_task_path %>
</div>
